# ***Projet 0 - Etude de marché***

---
## Partie 1 - Préparation

### 1. Import des librairies (ok)
---

In [1]:
# Mes imports de lib de base
import pandas as pd # Pour travail avec les df
import numpy as np # Tout ce qui est fct math avec numpy, tjs utile

# Pour les graphiques
import matplotlib.pyplot as plt # Graphes avec matplotlib
import seaborn as sns # Graphes avec seaborn
sns.set_style('darkgrid', {'grid.color': '.5', 'grid.linestyle': ':'}) # Défini un fond de graphe que ce soit pour sns ou plt
import geopandas as gpd # Vérifier que geopands est bien installer


# Pour les stats et autre
import scipy.stats as stats # Pour des stats avec scipy
import statsmodels.api as sm # Pour des régressions linéaires ou autre

# Pour le clustering
import sklearn as sk
import scipy as sp
import pca as pca
import scipy.cluster.hierarchy as shc
from sklearn.cluster import KMeans # Clustering avec KMeans

In [2]:
pca.__version__

'2.0.4'

### 2. Infos sur les fichiers (df) - Préparation
---

#### *2.1. Disponibilité*

In [3]:
# Import du csv dispo alimentaire par pays en 2017
# On part du principe que ces datas sont 'safe' (source : FAO) et qu'il n'y a pas de doublons dans les données, ce qui nous éviteras de les tester
data_dispo_alim = pd.read_csv('DisponibiliteAlimentaire_2017.csv')
data_dispo_alim

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.00,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.00,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119.00,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5911,Exportations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,0.00,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,6701.00,S,Données standardisées
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176595,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,5142,Nourriture,2899,Miscellanees,2017,2017,Milliers de tonnes,19.00,S,Données standardisées
176596,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,645,Disponibilité alimentaire en quantité (kg/pers...,2899,Miscellanees,2017,2017,kg,1.33,Fc,Donnée calculée
176597,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,664,Disponibilité alimentaire (Kcal/personne/jour),2899,Miscellanees,2017,2017,Kcal/personne/jour,1.00,Fc,Donnée calculée
176598,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2899,Miscellanees,2017,2017,g/personne/jour,0.04,Fc,Donnée calculée
176599,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2899,Miscellanees,2017,2017,g/personne/jour,0.02,Fc,Donnée calculée

In [4]:
# Taille du dataset
data_dispo_alim.shape

(176600, 14)

In [5]:
# Infos sur le dataset
# On voit qu'il n'y à pas de manquants
print('Infos sur le dataset :')
print(data_dispo_alim.info())
print('')
print('Manquants sur le dataset :')
print(data_dispo_alim.isna().sum())

Infos sur le dataset :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176600 entries, 0 to 176599
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Code Domaine            176600 non-null  object
 1   Domaine                 176600 non-null  object
 2   Code zone               176600 non-null  int64
 3   Zone                    176600 non-null  object
 4   Code Élément            176600 non-null  int64
 5   Élément                 176600 non-null  object
 6   Code Produit            176600 non-null  int64
 7   Produit                 176600 non-null  object
 8   Code année              176600 non-null  int64
 9   Année                   176600 non-null  int64
 10  Unité                   176600 non-null  object
 11  Valeur                  176600 non-null  float64
 12  Symbole                 176600 non-null  object
 13  Description du Symbole  176600 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 18.9+ MB
None

Manquants sur le dataset :
Code Domaine              0
Domaine                   0
Code zone                 0
Zone                      0
Code Élément              0
Élément                   0
Code Produit              0
Produit                   0
Code année                0
Année                     0
Unité                     0
Valeur                    0
Symbole                   0
Description du Symbole    0
dtype: int64

In [6]:
# Describe sur le dataset
# Ce dataset est sur l'année 2017, donc à voir avec les autres data comment les caler
data_dispo_alim.describe(include = 'all')

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
count,176600,176600,176600.000000,176600,176600.000000,176600,176600.000000,176600,176600.0,176600.0,176600,176600.000000,176600,176600
unique,1,1,NaN,174,NaN,17,NaN,98,NaN,NaN,4,NaN,2,2
top,FBS,Nouveaux Bilans Alimentaire,NaN,Tchad,NaN,Disponibilité intérieure,NaN,Maïs et produits,NaN,NaN,Milliers de tonnes,NaN,S,Données standardisées
freq,176600,176600,NaN,1416,NaN,15905,NaN,2593,NaN,NaN,118487,NaN,118487,118487
mean,NaN,NaN,125.474740,NaN,3810.052894,NaN,2628.778545,NaN,2017.0,2017.0,NaN,210.554918,NaN,NaN
std,NaN,NaN,72.941699,NaN,2211.790089,NaN,91.993247,NaN,0.0,0.0,NaN,4762.047787,NaN,NaN
min,NaN,NaN,1.000000,NaN,645.000000,NaN,2511.000000,NaN,2017.0,2017.0,NaN,-10388.000000,NaN,NaN
25%,NaN,NaN,63.000000,NaN,684.000000,NaN,2556.000000,NaN,2017.0,2017.0,NaN,0.000000,NaN,NaN
50%,NaN,NaN,120.000000,NaN,5142.000000,NaN,2612.000000,NaN,2017.0,2017.0,NaN,0.120000,NaN,NaN
75%,NaN,NaN,188.000000,NaN,5301.000000,NaN,2732.000000,NaN,2017.0,2017.0,NaN,8.462500,NaN,NaN
max,NaN,NaN,276.000000,NaN,5911.000000,NaN,2899.000000,NaN,2017.0,2017.0,NaN,758548.000000,NaN,NaN

In [7]:
# Mapping des colonnes
# On récupère l'entête sous forme de liste
col_df = list(data_dispo_alim.columns)
# On défini les valeurs de remplacement (sera identique pour le df population)
col_replace = ['domain_code', 'domaine', 'zone_code', 'zone', 'item_code', 'item', 'product_code', 'product', 'year_code', 'year', 'unity', 'value', 'symbole', 'symbole_descr']
# En premier les éléments à remplacer, en second la valeur de remplacement
replace_dict = dict(zip(col_df, col_replace)) # Mise des données sous  forme de dico
print(replace_dict)
# On passe le dico créé dans le rename
data_dispo_alim = data_dispo_alim.rename(columns = replace_dict)
data_dispo_alim.head()

{'Code Domaine': 'domain_code', 'Domaine': 'domaine', 'Code zone': 'zone_code', 'Zone': 'zone', 'Code Élément': 'item_code', 'Élément': 'item', 'Code Produit': 'product_code', 'Produit': 'product', 'Code année': 'year_code', 'Année': 'year', 'Unité': 'unity', 'Valeur': 'value', 'Symbole': 'symbole', 'Description du Symbole': 'symbole_descr'}

,domain_code,domaine,zone_code,zone,item_code,item,product_code,product,year_code,year,unity,value,symbole,symbole_descr
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.0,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.0,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119.0,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5911,Exportations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,6701.0,S,Données standardisées

In [8]:
len(data_dispo_alim['zone'].unique())

174

##### *2.1.1. Ajout de données*

In [9]:
# Voir pour rajouter les lignes suivantes :
# On cible tout ce qui peut toucher à la volaille (cot cot), cela nous servira pour la suite du projet
    # Dispo bouffe
        # Dispo alim en kCal totale du pays (ok)
        # Dispo protéines totale du pays (ok)
        # Dispo alim en Kg totale du pays (ok)
        
    # Utilisation du poulet
        # Import/Export total du pays (ok)
        # Dispo intérieure totale
        # Nourriture totale
        # Production totale
        
        # Aliments pour touristes ? (après recherche représente 17 Milliers de tonnes)
    
# Note : on a 172 - 174 pays

In [11]:
# On regarde les différents éléments du dataset pour savoir ce que l'on veut calculer et reprendre les éléments pour les .loc
data_dispo_alim['item'].unique()

array(['Production', 'Importations - Quantité', 'Variation de stock',
       'Exportations - Quantité', 'Disponibilité intérieure',
       'Aliments pour animaux', 'Semences', 'Pertes', 'Résidus',
       'Nourriture',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité de protéines en quantité (g/personne/jour)',
       'Disponibilité de matière grasse en quantité (g/personne/jour)',
       'Traitement', 'Autres utilisations (non alimentaire)',
       'Alimentation pour touristes'], dtype=object)

In [12]:
# On se fait une liste visu de tout les products, idem que ci dessus, juste pour avoir les var à filtrer et reprendre les éléments pour les .loc
# On les gardes toutes pour l'instant pour voir ce que le poulet représente sur le total quand on calculera certaines données à rajouter
data_dispo_alim['product'].unique()

array(['Blé et produits', 'Riz et produits', 'Orge et produits',
       'Maïs et produits', 'Seigle et produits', 'Avoine',
       'Millet et produits', 'Sorgho et produits', 'Céréales, Autres',
       'Pommes de Terre et produits', 'Ignames', 'Racines nda',
       'Sucre, canne', 'Sucre, betterave', 'Sucre Eq Brut',
       'Edulcorants Autres', 'Miel', 'Haricots', 'Pois',
       'Légumineuses Autres et produits', 'Noix et produits', 'Soja',
       'Arachides Decortiquees', 'Graines de tournesol',
       'Graines Colza/Moutarde', 'Graines de coton', 'Coco (Incl Coprah)',
       'Sésame', 'Olives', 'Plantes Oleiferes, Autre', 'Huile de Soja',
       "Huile d'Arachide", 'Huile de Tournesol',
       'Huile de Colza&Moutarde', 'Huile Graines de Coton',
       'Huile de Palmistes', 'Huile de Palme', 'Huile de Coco',
       'Huile de Sésame', "Huile d'Olive", 'Huile de Son de Riz',
       'Huile de Germe de Maïs', 'Huil Plantes Oleif Autr',
       'Tomates et produits', 'Oignons', 'Légumes, Autres',
       'Oranges, Mandarines', 'Citrons & Limes et produits',
       'Pamplemousse et produits', 'Agrumes, Autres', 'Bananes',
       'Pommes et produits', 'Ananas et produits', 'Dattes', 'Raisin',
       'Fruits, Autres', 'Café et produits', 'Feve de Cacao et produits',
       'Thé', 'Poivre', 'Piments', 'Girofles', 'Épices, Autres', 'Vin',
       'Bière', 'Boissons Fermentés', 'Boissons Alcooliques',
       'Alcool, non Comestible', 'Viande de Bovins',
       "Viande d'Ovins/Caprins", 'Viande de Suides',
       'Viande de Volailles', 'Viande, Autre', 'Abats Comestible',
       'Beurre, Ghee', 'Crème', 'Graisses Animales Crue', 'Oeufs',
       'Lait - Excl Beurre', 'Poissons Eau Douce',
       'Aliments pour enfants', 'Miscellanees', 'Manioc et produits',
       'Patates douces', 'Palmistes', 'Bananes plantains',
       'Huiles de Poissons', 'Huiles de Foie de Poisso', 'Perciform',
       'Poissons Pelagiques', 'Poissons Marins, Autres', 'Crustacés',
       'Cephalopodes', 'Mollusques, Autres', 'Animaux Aquatiques Autre',
       'Plantes Aquatiques', 'Sucre non centrifugé',
       'Viande de Anim Aquatiq'], dtype=object)

##### Calcul des totaux par pays

In [68]:
# Le but est de calculer les différents totaux par pays puis de les ajouter au dataset de dispo alim
# On gropuby sur zone et item et on .sum(), cela nous donne le total pour chaque item par pays
dftest = data_dispo_alim.groupby(['zone', 'item']).agg({'value' : 'sum'}).reset_index()
dftest

              zone                                               item    value
0      Afghanistan                              Aliments pour animaux   456.00
1      Afghanistan              Autres utilisations (non alimentaire)    94.00
2      Afghanistan     Disponibilité alimentaire (Kcal/personne/jour)  1997.00
3      Afghanistan  Disponibilité alimentaire en quantité (kg/pers...   357.31
4      Afghanistan  Disponibilité de matière grasse en quantité (g...    30.63
...            ...                                                ...      ...
2834  Îles Salomon                                         Production  1059.00
2835  Îles Salomon                                            Résidus    -3.00
2836  Îles Salomon                                           Semences     0.00
2837  Îles Salomon                                         Traitement   309.00
2838  Îles Salomon                                 Variation de stock    31.00

[2839 rows x 3 columns]

In [ ]:
Production + Importation - Exportation + Variation
= Dispo =
Aliments animaux + Autres utilisations + Nourriture + Pertes + Semence + Traitement

In [66]:
# A déplacer plus loin, c'était un test pour le concat
pivot_test = pd.concat([data_dispo_alim, dftest]).fillna({'product' : 'total_zone'})
pivot_test.head(20)

,domain_code,domaine,zone_code,zone,item_code,item,product_code,product,year_code,year,unity,value,symbole,symbole_descr
0,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5511.0,Production,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,4281.00,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5611.0,Importations - Quantité,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,2302.00,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5072.0,Variation de stock,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,-119.00,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5911.0,Exportations - Quantité,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,0.00,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5301.0,Disponibilité intérieure,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,6701.00,S,Données standardisées
5,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5521.0,Aliments pour animaux,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,76.00,S,Données standardisées
6,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5527.0,Semences,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,344.00,S,Données standardisées
7,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5123.0,Pertes,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,642.00,S,Données standardisées
8,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5170.0,Résidus,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,0.00,S,Données standardisées
9,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5142.0,Nourriture,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,5640.00,S,Données standardisées
10,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,645.0,Disponibilité alimentaire en quantité (kg/pers...,2511.0,Blé et produits,2017.0,2017.0,kg,155.39,Fc,Donnée calculée
11,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,664.0,Disponibilité alimentaire (Kcal/personne/jour),2511.0,Blé et produits,2017.0,2017.0,Kcal/personne/jour,1331.00,Fc,Donnée calculée
12,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,674.0,Disponibilité de protéines en quantité (g/pers...,2511.0,Blé et produits,2017.0,2017.0,g/personne/jour,35.88,Fc,Donnée calculée
13,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,684.0,Disponibilité de matière grasse en quantité (g...,2511.0,Blé et produits,2017.0,2017.0,g/personne/jour,4.47,Fc,Donnée calculée
14,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5511.0,Production,2805.0,Riz et produits,2017.0,2017.0,Milliers de tonnes,338.00,S,Données standardisées
15,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5611.0,Importations - Quantité,2805.0,Riz et produits,2017.0,2017.0,Milliers de tonnes,415.00,S,Données standardisées
16,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5911.0,Exportations - Quantité,2805.0,Riz et produits,2017.0,2017.0,Milliers de tonnes,0.00,S,Données standardisées
17,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5301.0,Disponibilité intérieure,2805.0,Riz et produits,2017.0,2017.0,Milliers de tonnes,753.00,S,Données standardisées
18,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5521.0,Aliments pour animaux,2805.0,Riz et produits,2017.0,2017.0,Milliers de tonnes,0.00,S,Données standardisées
19,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5527.0,Semences,2805.0,Riz et produits,2017.0,2017.0,Milliers de tonnes,11.00,S,Données standardisées

In [48]:
pvt = pivot_test.pivot_table(index='zone', values='value', columns=['item', 'product']).reset_index()
pvt

item                      zone Alimentation pour touristes                  \
product                                   Abats Comestible Agrumes, Autres
0                  Afghanistan                         NaN             NaN
1               Afrique du Sud                         0.0             0.0
2                      Albanie                         NaN             NaN
3                      Algérie                         0.0             0.0
4                    Allemagne                         NaN             NaN
..                         ...                         ...             ...
169        Émirats arabes unis                         NaN             NaN
170                   Équateur                         0.0             0.0
171      États-Unis d'Amérique                         NaN             NaN
172                   Éthiopie                         0.0             0.0
173               Îles Salomon                         0.0             0.0

item                                                                     \
product Alcool, non Comestible Aliments pour enfants Ananas et produits
0                          NaN                   NaN                NaN
1                          NaN                   0.0                0.0
2                          NaN                   NaN                NaN
3                          NaN                   0.0                0.0
4                          NaN                   NaN                NaN
..                         ...                   ...                ...
169                        NaN                   NaN                NaN
170                        NaN                   0.0                0.0
171                        NaN                   NaN                NaN
172                        NaN                   0.0                0.0
173                        NaN                   0.0                0.0

item                                                             ...  \
product Arachides Decortiquees Avoine Bananes Bananes plantains  ...
0                          NaN    NaN     NaN               NaN  ...
1                          0.0    0.0     0.0               0.0  ...
2                          NaN    NaN     NaN               NaN  ...
3                          0.0    0.0     0.0               0.0  ...
4                          NaN    NaN     NaN               NaN  ...
..                         ...    ...     ...               ...  ...
169                        NaN    NaN     NaN               NaN  ...
170                        0.0    NaN     0.0               0.0  ...
171                        NaN    NaN     NaN               NaN  ...
172                        0.0    0.0     0.0               NaN  ...
173                        0.0    NaN     0.0               NaN  ...

item    Variation de stock                                             \
product                Thé Tomates et produits Viande d'Ovins/Caprins
0                      0.0                 NaN                    NaN
1                      0.0                 0.0                    0.0
2                      2.0                 0.0                    0.0
3                      0.0                 0.0                    0.0
4                     -2.0                 6.0                    0.0
..                     ...                 ...                    ...
169                    8.0                 2.0                    8.0
170                    0.0                 0.0                    0.0
171                    0.0                -9.0                    0.0
172                    0.0                 NaN                    NaN
173                    0.0                 0.0                    0.0

item                                                                         \
product Viande de Bovins Viande de Suides Viande de Volailles Viande, Autre
0                    0.0              0.0                 0.0           0.0
1                   -4.0              0.0                 0.0           0.0
2                    0.0              0.0                 4.0           0.0
3                    0.0              0.0                 0.0           NaN
4                    5.0            -36.0               -29.0          10.0
..                   ...              ...                 ...           ...
169                  1.0              0.0               -26.0           7.0
170                 -1.0            -11.0                -1.0           0.0
171                -48.0             47.0                80.0           1.0
172                 -1.0              0.0                 0.0           NaN
173                  0.0              0.0                 3.0           0.0

item
product   Vin total_zone Épices, Autres
0         NaN      426.0            0.0
1         0.0     -322.0          -10.0
2        12.0       72.0            0.0
3         9.0      374.0            0.0
4         0.0      651.0           16.0
..        ...        ...            ...
169       0.0       95.0           -1.0
170       NaN      377.0            0.0
171     -82.0     1454.0           63.0
172       NaN    -1983.0           16.0
173       0.0       31.0            0.0

[174 rows x 1613 columns]

In [50]:
# On créé un nouveau dataframe avec les données qui nous intéressent, ce sera beaucoup plus propre que de supprimer des colonnes ou des lignes au préalable
df = pd.DataFrame()
df['pays'] = pvt['zone']
df['dispo_chicken_kcal'] = pvt['Disponibilité alimentaire (Kcal/personne/jour)']['Viande de Volailles']
df['dispo_total_kcal'] = pvt['Disponibilité alimentaire (Kcal/personne/jour)']['total_zone']
df

                      pays  dispo_chicken_kcal  dispo_total_kcal
0              Afghanistan                 5.0            1997.0
1           Afrique du Sud               143.0            2987.0
2                  Albanie                85.0            3400.0
3                  Algérie                22.0            3345.0
4                Allemagne                71.0            3559.0
..                     ...                 ...               ...
169    Émirats arabes unis               147.0            3370.0
170               Équateur                83.0            2585.0
171  États-Unis d'Amérique               219.0            3762.0
172               Éthiopie                 0.0            2304.0
173           Îles Salomon                18.0            2410.0

[174 rows x 3 columns]

##### Dispo alim kcal Totale Pays

In [13]:
# Calcul et ajout de la dispo kCal globale par pays, on prend le global de tous les produits
# On prend uniquementles lignes de dispo alim en kCal
temp_alim_tot = data_dispo_alim.loc[data_dispo_alim['item'] == 'Disponibilité alimentaire (Kcal/personne/jour)']
temp_alim_tot

# On sum la  dispo kCal par pays pour avoir les kCal par pays de dispo
temp_alim_tot_gb_country = temp_alim_tot.groupby(['zone']).agg({'value' : 'sum'}).reset_index()
temp_alim_tot_gb_country

# Test si ça matche, non on concat au fur et à mesure pour ajouter nos items à chaque fois
# On ajoute la dispo totale calculé à la suite du df de base et on remplace l'item par ce qu'il est, on ne touche pas aux autres colonnes pour pouvoir concat avec la population
# Sur les lignes rajoutées qui on un NaN, on indique des infos pour savoir la correspondance sur des colonnes (à affiner pour la suite)
# Pour les Item et Unity on reprend la même trame que le df
pd.concat([data_dispo_alim, temp_alim_tot_gb_country]).fillna({'item' : 'Disponibilité alimentaire Totale (Kcal/personne/jour)', 'unity' : 'Kcal/personne/jour'})

,domain_code,domaine,zone_code,zone,item_code,item,product_code,product,year_code,year,unity,value,symbole,symbole_descr
0,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5511.0,Production,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,4281.0,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5611.0,Importations - Quantité,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,2302.0,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5072.0,Variation de stock,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,-119.0,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5911.0,Exportations - Quantité,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,0.0,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5301.0,Disponibilité intérieure,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,6701.0,S,Données standardisées
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,NaN,NaN,NaN,Émirats arabes unis,NaN,Disponibilité alimentaire Totale (Kcal/personn...,NaN,NaN,NaN,NaN,Kcal/personne/jour,3370.0,NaN,NaN
168,NaN,NaN,NaN,Équateur,NaN,Disponibilité alimentaire Totale (Kcal/personn...,NaN,NaN,NaN,NaN,Kcal/personne/jour,2585.0,NaN,NaN
169,NaN,NaN,NaN,États-Unis d'Amérique,NaN,Disponibilité alimentaire Totale (Kcal/personn...,NaN,NaN,NaN,NaN,Kcal/personne/jour,3762.0,NaN,NaN
170,NaN,NaN,NaN,Éthiopie,NaN,Disponibilité alimentaire Totale (Kcal/personn...,NaN,NaN,NaN,NaN,Kcal/personne/jour,2304.0,NaN,NaN
171,NaN,NaN,NaN,Îles Salomon,NaN,Disponibilité alimentaire Totale (Kcal/personn...,NaN,NaN,NaN,NaN,Kcal/personne/jour,2410.0,NaN,NaN

##### Dispo protéines Totale Pays

In [14]:
# Calcul et ajout de la dispo protéine globale par pays, on prend le global de tous les produits
# On prend uniquementles lignes de dispo protéines
temp_prot_tot = data_dispo_alim.loc[data_dispo_alim['item'] == 'Disponibilité de protéines en quantité (g/personne/jour)']
temp_prot_tot

# On sum la dispo protéines par pays
temp_prot_tot_gb_country = temp_prot_tot.groupby(['zone']).agg({'value' : 'sum'}).reset_index()
temp_prot_tot_gb_country

# Test si ça matche, non on concat au fur et à mesure pour ajouter nos items à chaque fois
# On ajoute la dispo totale calculé à la suite du df de base et on remplace l'item par ce qu'il est, on ne touche pas aux autres colonnes pour pouvoir concat avec la population
# Sur les lignes rajoutées qui on un NaN, on indique des infos pour savoir la correspondance sur des colonnes (à affiner pour la suite)
# Pour les Item et Unity on reprend la même trame que le df
pd.concat([data_dispo_alim, temp_prot_tot_gb_country]).fillna({'item' : 'Disponibilité de protéines Totale en quantité (g/personne/jour)', 'unity' : 'g/personne/jour'})

,domain_code,domaine,zone_code,zone,item_code,item,product_code,product,year_code,year,unity,value,symbole,symbole_descr
0,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5511.0,Production,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,4281.00,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5611.0,Importations - Quantité,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,2302.00,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5072.0,Variation de stock,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,-119.00,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5911.0,Exportations - Quantité,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,0.00,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5301.0,Disponibilité intérieure,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,6701.00,S,Données standardisées
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,NaN,NaN,NaN,Émirats arabes unis,NaN,Disponibilité de protéines Totale en quantité ...,NaN,NaN,NaN,NaN,g/personne/jour,107.26,NaN,NaN
168,NaN,NaN,NaN,Équateur,NaN,Disponibilité de protéines Totale en quantité ...,NaN,NaN,NaN,NaN,g/personne/jour,65.77,NaN,NaN
169,NaN,NaN,NaN,États-Unis d'Amérique,NaN,Disponibilité de protéines Totale en quantité ...,NaN,NaN,NaN,NaN,g/personne/jour,113.61,NaN,NaN
170,NaN,NaN,NaN,Éthiopie,NaN,Disponibilité de protéines Totale en quantité ...,NaN,NaN,NaN,NaN,g/personne/jour,65.64,NaN,NaN
171,NaN,NaN,NaN,Îles Salomon,NaN,Disponibilité de protéines Totale en quantité ...,NaN,NaN,NaN,NaN,g/personne/jour,53.64,NaN,NaN

##### Dispo alim Kg Totale Pays

In [15]:
# Calcul et ajout de l'importation par pays, on prend le global de tous les produits
# On prend uniquementles lignes de l'import
temp_kg_tot = data_dispo_alim.loc[data_dispo_alim['item'] == 'Disponibilité alimentaire en quantité (kg/personne/an)']
temp_kg_tot

# On sum les imports par pays
temp_kg_tot_gb_country = temp_kg_tot.groupby(['zone']).agg({'value' : 'sum'}).reset_index()
temp_kg_tot_gb_country

# Test si ça matche, non on concat au fur et à mesure pour ajouter nos items à chaque fois
# On ajoute l'import total totale calculé à la suite du df de base et on remplace l'item par ce qu'il est, on ne touche pas aux autres colonnes pour pouvoir concat avec la population
# Sur les lignes rajoutées qui on un NaN, on indique des infos pour savoir la correspondance sur des colonnes (à affiner pour la suite)
# Pour les Item et Unity on reprend la même trame que le df
pd.concat([data_dispo_alim, temp_kg_tot_gb_country]).fillna({'item' : 'Disponibilité alimentaire Totale en quantité (kg/personne/an)', 'unity' : 'Milliers de tonnes'})

,domain_code,domaine,zone_code,zone,item_code,item,product_code,product,year_code,year,unity,value,symbole,symbole_descr
0,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5511.0,Production,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,4281.00,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5611.0,Importations - Quantité,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,2302.00,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5072.0,Variation de stock,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,-119.00,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5911.0,Exportations - Quantité,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,0.00,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5301.0,Disponibilité intérieure,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,6701.00,S,Données standardisées
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,NaN,NaN,NaN,Émirats arabes unis,NaN,Disponibilité alimentaire Totale en quantité (...,NaN,NaN,NaN,NaN,Milliers de tonnes,627.67,NaN,NaN
168,NaN,NaN,NaN,Équateur,NaN,Disponibilité alimentaire Totale en quantité (...,NaN,NaN,NaN,NaN,Milliers de tonnes,563.62,NaN,NaN
169,NaN,NaN,NaN,États-Unis d'Amérique,NaN,Disponibilité alimentaire Totale en quantité (...,NaN,NaN,NaN,NaN,Milliers de tonnes,990.38,NaN,NaN
170,NaN,NaN,NaN,Éthiopie,NaN,Disponibilité alimentaire Totale en quantité (...,NaN,NaN,NaN,NaN,Milliers de tonnes,361.77,NaN,NaN
171,NaN,NaN,NaN,Îles Salomon,NaN,Disponibilité alimentaire Totale en quantité (...,NaN,NaN,NaN,NaN,Milliers de tonnes,659.79,NaN,NaN

##### Importations Totale Pays

In [16]:
# Calcul et ajout de l'importation par pays, on prend le global de tous les produits
# On prend uniquementles lignes de l'import
temp_import_tot = data_dispo_alim.loc[data_dispo_alim['item'] == 'Importations - Quantité']
temp_import_tot

# On sum les imports par pays
temp_import_tot_gb_country = temp_import_tot.groupby(['zone']).agg({'value' : 'sum'}).reset_index()
temp_import_tot_gb_country

# Test si ça matche, non on concat au fur et à mesure pour ajouter nos items à chaque fois
# On ajoute l'import total totale calculé à la suite du df de base et on remplace l'item par ce qu'il est, on ne touche pas aux autres colonnes pour pouvoir concat avec la population
# Sur les lignes rajoutées qui on un NaN, on indique des infos pour savoir la correspondance sur des colonnes (à affiner pour la suite)
# Pour les Item et Unity on reprend la même trame que le df
pd.concat([data_dispo_alim, temp_import_tot_gb_country]).fillna({'item' : 'Importations Totale - Quantité', 'unity' : 'Milliers de tonnes'})

,domain_code,domaine,zone_code,zone,item_code,item,product_code,product,year_code,year,unity,value,symbole,symbole_descr
0,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5511.0,Production,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,4281.0,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5611.0,Importations - Quantité,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,2302.0,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5072.0,Variation de stock,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,-119.0,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5911.0,Exportations - Quantité,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,0.0,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5301.0,Disponibilité intérieure,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,6701.0,S,Données standardisées
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,NaN,NaN,NaN,Émirats arabes unis,NaN,Importations Totale - Quantité,NaN,NaN,NaN,NaN,Milliers de tonnes,14986.0,NaN,NaN
170,NaN,NaN,NaN,Équateur,NaN,Importations Totale - Quantité,NaN,NaN,NaN,NaN,Milliers de tonnes,2134.0,NaN,NaN
171,NaN,NaN,NaN,États-Unis d'Amérique,NaN,Importations Totale - Quantité,NaN,NaN,NaN,NaN,Milliers de tonnes,84507.0,NaN,NaN
172,NaN,NaN,NaN,Éthiopie,NaN,Importations Totale - Quantité,NaN,NaN,NaN,NaN,Milliers de tonnes,2967.0,NaN,NaN
173,NaN,NaN,NaN,Îles Salomon,NaN,Importations Totale - Quantité,NaN,NaN,NaN,NaN,Milliers de tonnes,124.0,NaN,NaN

##### Exportation Totale Pays

In [17]:
# Calcul et ajout de l'exportation par pays, on prend le global de tous les produits
# On prend uniquementles lignes de l'export
temp_export_tot = data_dispo_alim.loc[data_dispo_alim['item'] == 'Exportations - Quantité']
temp_export_tot

# On sum les exports par pays
temp_export_tot_gb_country = temp_export_tot.groupby(['zone']).agg({'value' : 'sum'}).reset_index()
temp_export_tot_gb_country

# Test si ça matche, non on concat au fur et à mesure pour ajouter nos items à chaque fois
# On ajoute l'import total totale calculé à la suite du df de base et on remplace l'item par ce qu'il est, on ne touche pas aux autres colonnes pour pouvoir concat avec la population
# Sur les lignes rajoutées qui on un NaN, on indique des infos pour savoir la correspondance sur des colonnes (à affiner pour la suite)
# Pour les Item et Unity on reprend la même trame que le df
pd.concat([data_dispo_alim, temp_export_tot_gb_country]).fillna({'item' : 'Exportations Totale - Quantité', 'unity' : 'Milliers de tonnes'})

,domain_code,domaine,zone_code,zone,item_code,item,product_code,product,year_code,year,unity,value,symbole,symbole_descr
0,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5511.0,Production,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,4281.0,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5611.0,Importations - Quantité,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,2302.0,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5072.0,Variation de stock,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,-119.0,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5911.0,Exportations - Quantité,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,0.0,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2.0,Afghanistan,5301.0,Disponibilité intérieure,2511.0,Blé et produits,2017.0,2017.0,Milliers de tonnes,6701.0,S,Données standardisées
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,NaN,NaN,NaN,Émirats arabes unis,NaN,Exportations Totale - Quantité,NaN,NaN,NaN,NaN,Milliers de tonnes,4914.0,NaN,NaN
170,NaN,NaN,NaN,Équateur,NaN,Exportations Totale - Quantité,NaN,NaN,NaN,NaN,Milliers de tonnes,8897.0,NaN,NaN
171,NaN,NaN,NaN,États-Unis d'Amérique,NaN,Exportations Totale - Quantité,NaN,NaN,NaN,NaN,Milliers de tonnes,207278.0,NaN,NaN
172,NaN,NaN,NaN,Éthiopie,NaN,Exportations Totale - Quantité,NaN,NaN,NaN,NaN,Milliers de tonnes,1259.0,NaN,NaN
173,NaN,NaN,NaN,Îles Salomon,NaN,Exportations Totale - Quantité,NaN,NaN,NaN,NaN,Milliers de tonnes,164.0,NaN,NaN

In [18]:
# On concat à la fin toutes nos données calculées ? Non, car à chaque fois il faut les identifier avant le pivot donc plus logique de le faire étape par étape
# A noter, chaque groupby sur pays fait un df de 172 de long

##### *2.1.2. Nettoyage du dataset*

In [19]:
# Suppression des lignes et colonnes inutiles pour alléger le dataset avant le concat et le pivot final

In [36]:
# On regarde les différents éléments du dataset pour savoir ce que l'on veut calculer et reprendre les éléments pour les .loc
data_dispo_alim['item'].unique()

array(['Production', 'Importations - Quantité', 'Variation de stock',
       'Exportations - Quantité', 'Disponibilité intérieure',
       'Aliments pour animaux', 'Semences', 'Pertes', 'Résidus',
       'Nourriture',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité de protéines en quantité (g/personne/jour)',
       'Disponibilité de matière grasse en quantité (g/personne/jour)',
       'Traitement', 'Autres utilisations (non alimentaire)',
       'Alimentation pour touristes'], dtype=object)

In [37]:
# On se fait une liste visu de tout les products, idem que ci dessus, juste pour avoir les var à filtrer et reprendre les éléments pour les .loc
# On les gardes toutes pour l'instant pour voir ce que le poulet représente sur le total quand on calculera certaines données à rajouter
data_dispo_alim['product'].unique()

array(['Blé et produits', 'Riz et produits', 'Orge et produits',
       'Maïs et produits', 'Seigle et produits', 'Avoine',
       'Millet et produits', 'Sorgho et produits', 'Céréales, Autres',
       'Pommes de Terre et produits', 'Ignames', 'Racines nda',
       'Sucre, canne', 'Sucre, betterave', 'Sucre Eq Brut',
       'Edulcorants Autres', 'Miel', 'Haricots', 'Pois',
       'Légumineuses Autres et produits', 'Noix et produits', 'Soja',
       'Arachides Decortiquees', 'Graines de tournesol',
       'Graines Colza/Moutarde', 'Graines de coton', 'Coco (Incl Coprah)',
       'Sésame', 'Olives', 'Plantes Oleiferes, Autre', 'Huile de Soja',
       "Huile d'Arachide", 'Huile de Tournesol',
       'Huile de Colza&Moutarde', 'Huile Graines de Coton',
       'Huile de Palmistes', 'Huile de Palme', 'Huile de Coco',
       'Huile de Sésame', "Huile d'Olive", 'Huile de Son de Riz',
       'Huile de Germe de Maïs', 'Huil Plantes Oleif Autr',
       'Tomates et produits', 'Oignons', 'Légumes, Autres',
       'Oranges, Mandarines', 'Citrons & Limes et produits',
       'Pamplemousse et produits', 'Agrumes, Autres', 'Bananes',
       'Pommes et produits', 'Ananas et produits', 'Dattes', 'Raisin',
       'Fruits, Autres', 'Café et produits', 'Feve de Cacao et produits',
       'Thé', 'Poivre', 'Piments', 'Girofles', 'Épices, Autres', 'Vin',
       'Bière', 'Boissons Fermentés', 'Boissons Alcooliques',
       'Alcool, non Comestible', 'Viande de Bovins',
       "Viande d'Ovins/Caprins", 'Viande de Suides',
       'Viande de Volailles', 'Viande, Autre', 'Abats Comestible',
       'Beurre, Ghee', 'Crème', 'Graisses Animales Crue', 'Oeufs',
       'Lait - Excl Beurre', 'Poissons Eau Douce',
       'Aliments pour enfants', 'Miscellanees', 'Manioc et produits',
       'Patates douces', 'Palmistes', 'Bananes plantains',
       'Huiles de Poissons', 'Huiles de Foie de Poisso', 'Perciform',
       'Poissons Pelagiques', 'Poissons Marins, Autres', 'Crustacés',
       'Cephalopodes', 'Mollusques, Autres', 'Animaux Aquatiques Autre',
       'Plantes Aquatiques', 'Sucre non centrifugé',
       'Viande de Anim Aquatiq'], dtype=object)

#### *2.2. Population*

In [20]:
# Import csv population de 2000 à 2018
data_population = pd.read_csv('Population_2000_2018.csv')
data_population

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,NaN
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,NaN
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,22600.770,X,Sources internationales sûres,NaN
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2003,2003,1000 personnes,23680.871,X,Sources internationales sûres,NaN
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2004,2004,1000 personnes,24726.684,X,Sources internationales sûres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4406,OA,Séries temporelles annuelles,181,Zimbabwe,511,Population totale,3010,Population-Estimations,2014,2014,1000 personnes,13586.707,X,Sources internationales sûres,NaN
4407,OA,Séries temporelles annuelles,181,Zimbabwe,511,Population totale,3010,Population-Estimations,2015,2015,1000 personnes,13814.629,X,Sources internationales sûres,NaN
4408,OA,Séries temporelles annuelles,181,Zimbabwe,511,Population totale,3010,Population-Estimations,2016,2016,1000 personnes,14030.331,X,Sources internationales sûres,NaN
4409,OA,Séries temporelles annuelles,181,Zimbabwe,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,14236.595,X,Sources internationales sûres,NaN
4410,OA,Séries temporelles annuelles,181,Zimbabwe,511,Population totale,3010,Population-Estimations,2018,2018,1000 personnes,14438.802,X,Sources internationales sûres,NaN

In [21]:
# Taille du dataset
data_population.shape

(4411, 15)

In [22]:
# Info sur le dataset
data_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4411 entries, 0 to 4410
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            4411 non-null   object
 1   Domaine                 4411 non-null   object
 2   Code zone               4411 non-null   int64
 3   Zone                    4411 non-null   object
 4   Code Élément            4411 non-null   int64
 5   Élément                 4411 non-null   object
 6   Code Produit            4411 non-null   int64
 7   Produit                 4411 non-null   object
 8   Code année              4411 non-null   int64
 9   Année                   4411 non-null   int64
 10  Unité                   4411 non-null   object
 11  Valeur                  4411 non-null   float64
 12  Symbole                 4411 non-null   object
 13  Description du Symbole  4411 non-null   object
 14  Note                    258 non-null    object
dtypes: float64(1), int64(5), object(9)
memory usage: 517.0+ KB

In [23]:
# Recherche de manquants
data_population.isna().sum()

Code Domaine                 0
Domaine                      0
Code zone                    0
Zone                         0
Code Élément                 0
Élément                      0
Code Produit                 0
Produit                      0
Code année                   0
Année                        0
Unité                        0
Valeur                       0
Symbole                      0
Description du Symbole       0
Note                      4153
dtype: int64

In [24]:
# Describe sur le dataset
# L'étendue des données va de 2000 à 2018
data_population.describe(include = 'all')

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
count,4411,4411,4411.000000,4411,4411.0,4411,4411.0,4411,4411.000000,4411.000000,4411,4.411000e+03,4411,4411,258
unique,1,1,NaN,238,NaN,1,NaN,1,NaN,NaN,1,NaN,2,2,1
top,OA,Séries temporelles annuelles,NaN,Afghanistan,NaN,Population totale,NaN,Population-Estimations,NaN,NaN,1000 personnes,NaN,X,Sources internationales sûres,"UNDESA, Population Division – World Population..."
freq,4411,4411,NaN,19,NaN,4411,NaN,4411,NaN,NaN,4411,NaN,4374,4374,258
mean,NaN,NaN,132.202902,NaN,511.0,NaN,3010.0,NaN,2009.068238,2009.068238,NaN,2.963004e+04,NaN,NaN,NaN
std,NaN,NaN,75.854840,NaN,0.0,NaN,0.0,NaN,5.481539,5.481539,NaN,1.238029e+05,NaN,NaN,NaN
min,NaN,NaN,1.000000,NaN,511.0,NaN,3010.0,NaN,2000.000000,2000.000000,NaN,7.850000e-01,NaN,NaN,NaN
25%,NaN,NaN,68.000000,NaN,511.0,NaN,3010.0,NaN,2004.000000,2004.000000,NaN,3.921890e+02,NaN,NaN,NaN
50%,NaN,NaN,132.000000,NaN,511.0,NaN,3010.0,NaN,2009.000000,2009.000000,NaN,4.764741e+03,NaN,NaN,NaN
75%,NaN,NaN,195.000000,NaN,511.0,NaN,3010.0,NaN,2014.000000,2014.000000,NaN,1.821548e+04,NaN,NaN,NaN
max,NaN,NaN,299.000000,NaN,511.0,NaN,3010.0,NaN,2018.000000,2018.000000,NaN,1.427648e+06,NaN,NaN,NaN

In [25]:
# Mapping des colonnes
# On récupère l'entête sous forme de liste
col_df = list(data_population.columns)
# On défini les valeurs de remplacement
col_replace = ['domain_code', 'domain', 'zone_code', 'zone', 'item_code', 'item', 'product_code', 'product', 'year_code', 'year', 'unity', 'value', 'symbole', 'symbole_descr']
# En premier les éléments à remplacer, en second la valeur de remplacement
replace_dict = dict(zip(col_df, col_replace)) # Mise des données sous  forme de dico
print(replace_dict)
# On passe le dico créé dans le rename
data_population = data_population.rename(columns = replace_dict)
data_population.head()

{'Code Domaine': 'domain_code', 'Domaine': 'domain', 'Code zone': 'zone_code', 'Zone': 'zone', 'Code Élément': 'item_code', 'Élément': 'item', 'Code Produit': 'product_code', 'Produit': 'product', 'Code année': 'year_code', 'Année': 'year', 'Unité': 'unity', 'Valeur': 'value', 'Symbole': 'symbole', 'Description du Symbole': 'symbole_descr'}

,domain_code,domain,zone_code,zone,item_code,item,product_code,product,year_code,year,unity,value,symbole,symbole_descr,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,NaN
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,NaN
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,22600.770,X,Sources internationales sûres,NaN
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2003,2003,1000 personnes,23680.871,X,Sources internationales sûres,NaN
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2004,2004,1000 personnes,24726.684,X,Sources internationales sûres,NaN

In [26]:
# Sélection de deux années pour calculer l'évolutionde la population et être raccord rapport au dataset dispo alim
data_population = data_population.loc[(data_population['year'] == 2000) | (data_population['year'] == 2017)]
data_population

,domain_code,domain,zone_code,zone,item_code,item,product_code,product,year_code,year,unity,value,symbole,symbole_descr,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,NaN
17,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,36296.113,X,Sources internationales sûres,NaN
19,OA,Séries temporelles annuelles,202,Afrique du Sud,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,44967.708,X,Sources internationales sûres,NaN
36,OA,Séries temporelles annuelles,202,Afrique du Sud,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,57009.756,X,Sources internationales sûres,NaN
38,OA,Séries temporelles annuelles,3,Albanie,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,3129.243,X,Sources internationales sûres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4371,OA,Séries temporelles annuelles,249,Yémen,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,27834.819,X,Sources internationales sûres,NaN
4373,OA,Séries temporelles annuelles,251,Zambie,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,10415.944,X,Sources internationales sûres,NaN
4390,OA,Séries temporelles annuelles,251,Zambie,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,16853.599,X,Sources internationales sûres,NaN
4392,OA,Séries temporelles annuelles,181,Zimbabwe,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,11881.477,X,Sources internationales sûres,NaN
4409,OA,Séries temporelles annuelles,181,Zimbabwe,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,14236.595,X,Sources internationales sûres,NaN

#### *2.3. Concaténation dataset global - Nettoyage - Préparation*

In [27]:
# On vérifie la correspondance des colonnes entre les deux df
print('Col data_dispo_alim :', data_dispo_alim.columns.tolist())
print('Col data_population :', data_population.columns.tolist())
# On compare les colonnes modifs
data_dispo_alim.columns.tolist() == data_population.columns.tolist()

Col data_dispo_alim : ['domain_code', 'domaine', 'zone_code', 'zone', 'item_code', 'item', 'product_code', 'product', 'year_code', 'year', 'unity', 'value', 'symbole', 'symbole_descr']
Col data_population : ['domain_code', 'domain', 'zone_code', 'zone', 'item_code', 'item', 'product_code', 'product', 'year_code', 'year', 'unity', 'value', 'symbole', 'symbole_descr', 'Note']

False

In [28]:
# On remarque que data_population a une colonne en plus
# On supprime la colonne 'Note' de data_population pour que les deux df correspondent sur le nombre de colonnes (14 - 14)
data_population.drop(columns  = 'Note', inplace = True)

In [29]:
# On vérifie la correspondance des colonnes entre les deux df
print('Col data_dispo_alim :', data_dispo_alim.columns.tolist())
print('Col data_population :', data_population.columns.tolist())
# On compare les colonnes après modifs
print('Les entêtes des deux dataset correspondent :', data_dispo_alim.columns.tolist() == data_population.columns.tolist())

Col data_dispo_alim : ['domain_code', 'domaine', 'zone_code', 'zone', 'item_code', 'item', 'product_code', 'product', 'year_code', 'year', 'unity', 'value', 'symbole', 'symbole_descr']
Col data_population : ['domain_code', 'domain', 'zone_code', 'zone', 'item_code', 'item', 'product_code', 'product', 'year_code', 'year', 'unity', 'value', 'symbole', 'symbole_descr']
Les entêtes des deux dataset correspondent : False

In [30]:
# On concatène nos deux dataset
df_data = pd.concat([data_dispo_alim, data_population]) # Concaténation
df_data

,domain_code,domaine,zone_code,zone,item_code,item,product_code,product,year_code,year,unity,value,symbole,symbole_descr,domain
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.000,S,Données standardisées,NaN
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.000,S,Données standardisées,NaN
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119.000,S,Données standardisées,NaN
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5911,Exportations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,0.000,S,Données standardisées,NaN
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,6701.000,S,Données standardisées,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4371,OA,NaN,249,Yémen,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,27834.819,X,Sources internationales sûres,Séries temporelles annuelles
4373,OA,NaN,251,Zambie,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,10415.944,X,Sources internationales sûres,Séries temporelles annuelles
4390,OA,NaN,251,Zambie,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,16853.599,X,Sources internationales sûres,Séries temporelles annuelles
4392,OA,NaN,181,Zimbabwe,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,11881.477,X,Sources internationales sûres,Séries temporelles annuelles
4409,OA,NaN,181,Zimbabwe,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,14236.595,X,Sources internationales sûres,Séries temporelles annuelles

In [31]:
# Virer les lignes inutiles avant de faire le pivot

In [32]:
# On pivot le df sur Zone pour la suite de nos analyses
test = df_data.pivot_table(index='zone', values='value', columns=['item', 'product']).reset_index()
test.head()

item               zone Alimentation pour touristes                  \
product                            Abats Comestible Agrumes, Autres
0           Afghanistan                         NaN             NaN
1        Afrique du Sud                         0.0             0.0
2               Albanie                         NaN             NaN
3               Algérie                         0.0             0.0
4             Allemagne                         NaN             NaN

item                                                                     \
product Alcool, non Comestible Aliments pour enfants Ananas et produits
0                          NaN                   NaN                NaN
1                          NaN                   0.0                0.0
2                          NaN                   NaN                NaN
3                          NaN                   0.0                0.0
4                          NaN                   NaN                NaN

item                                                             ...  \
product Arachides Decortiquees Avoine Bananes Bananes plantains  ...
0                          NaN    NaN     NaN               NaN  ...
1                          0.0    0.0     0.0               0.0  ...
2                          NaN    NaN     NaN               NaN  ...
3                          0.0    0.0     0.0               0.0  ...
4                          NaN    NaN     NaN               NaN  ...

item    Variation de stock                                                  \
product             Sésame  Thé Tomates et produits Viande d'Ovins/Caprins
0                      0.0  0.0                 NaN                    NaN
1                      0.0  0.0                 0.0                    0.0
2                      0.0  2.0                 0.0                    0.0
3                      NaN  0.0                 0.0                    0.0
4                      0.0 -2.0                 6.0                    0.0

item                                                                         \
product Viande de Bovins Viande de Suides Viande de Volailles Viande, Autre
0                    0.0              0.0                 0.0           0.0
1                   -4.0              0.0                 0.0           0.0
2                    0.0              0.0                 4.0           0.0
3                    0.0              0.0                 0.0           NaN
4                    5.0            -36.0               -29.0          10.0

item
product   Vin Épices, Autres
0         NaN            0.0
1         0.0          -10.0
2        12.0            0.0
3         9.0            0.0
4         0.0           16.0

[5 rows x 1597 columns]

In [33]:
# index0 des colonnes après concat
data_dispo_alim['item'].unique()

array(['Production', 'Importations - Quantité', 'Variation de stock',
       'Exportations - Quantité', 'Disponibilité intérieure',
       'Aliments pour animaux', 'Semences', 'Pertes', 'Résidus',
       'Nourriture',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité de protéines en quantité (g/personne/jour)',
       'Disponibilité de matière grasse en quantité (g/personne/jour)',
       'Traitement', 'Autres utilisations (non alimentaire)',
       'Alimentation pour touristes'], dtype=object)

In [34]:
# index1 des colonnes après concat
data_dispo_alim['product'].unique()

array(['Blé et produits', 'Riz et produits', 'Orge et produits',
       'Maïs et produits', 'Seigle et produits', 'Avoine',
       'Millet et produits', 'Sorgho et produits', 'Céréales, Autres',
       'Pommes de Terre et produits', 'Ignames', 'Racines nda',
       'Sucre, canne', 'Sucre, betterave', 'Sucre Eq Brut',
       'Edulcorants Autres', 'Miel', 'Haricots', 'Pois',
       'Légumineuses Autres et produits', 'Noix et produits', 'Soja',
       'Arachides Decortiquees', 'Graines de tournesol',
       'Graines Colza/Moutarde', 'Graines de coton', 'Coco (Incl Coprah)',
       'Sésame', 'Olives', 'Plantes Oleiferes, Autre', 'Huile de Soja',
       "Huile d'Arachide", 'Huile de Tournesol',
       'Huile de Colza&Moutarde', 'Huile Graines de Coton',
       'Huile de Palmistes', 'Huile de Palme', 'Huile de Coco',
       'Huile de Sésame', "Huile d'Olive", 'Huile de Son de Riz',
       'Huile de Germe de Maïs', 'Huil Plantes Oleif Autr',
       'Tomates et produits', 'Oignons', 'Légumes, Autres',
       'Oranges, Mandarines', 'Citrons & Limes et produits',
       'Pamplemousse et produits', 'Agrumes, Autres', 'Bananes',
       'Pommes et produits', 'Ananas et produits', 'Dattes', 'Raisin',
       'Fruits, Autres', 'Café et produits', 'Feve de Cacao et produits',
       'Thé', 'Poivre', 'Piments', 'Girofles', 'Épices, Autres', 'Vin',
       'Bière', 'Boissons Fermentés', 'Boissons Alcooliques',
       'Alcool, non Comestible', 'Viande de Bovins',
       "Viande d'Ovins/Caprins", 'Viande de Suides',
       'Viande de Volailles', 'Viande, Autre', 'Abats Comestible',
       'Beurre, Ghee', 'Crème', 'Graisses Animales Crue', 'Oeufs',
       'Lait - Excl Beurre', 'Poissons Eau Douce',
       'Aliments pour enfants', 'Miscellanees', 'Manioc et produits',
       'Patates douces', 'Palmistes', 'Bananes plantains',
       'Huiles de Poissons', 'Huiles de Foie de Poisso', 'Perciform',
       'Poissons Pelagiques', 'Poissons Marins, Autres', 'Crustacés',
       'Cephalopodes', 'Mollusques, Autres', 'Animaux Aquatiques Autre',
       'Plantes Aquatiques', 'Sucre non centrifugé',
       'Viande de Anim Aquatiq'], dtype=object)

In [35]:
# On créé un nouveau dataframe avec les données qui nous intéressent, ce sera beaucoup plus propre que de supprimer des colonnes ou des lignes au préalable
df = pd.DataFrame()
df['pays'] = test['zone']
df['dispo_chicken_kcal'] = test['Disponibilité alimentaire (Kcal/personne/jour)']['Viande de Volailles']
df

                          pays  dispo_chicken_kcal
0                  Afghanistan                 5.0
1               Afrique du Sud               143.0
2                      Albanie                85.0
3                      Algérie                22.0
4                    Allemagne                71.0
..                         ...                 ...
233               Îles Salomon                18.0
234    Îles Turques-et-Caïques                 NaN
235   Îles Vierges américaines                 NaN
236  Îles Vierges britanniques                 NaN
237      Îles Wallis-et-Futuna                 NaN

[238 rows x 2 columns]